<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<!-- Adds registry entries, shortcuts and fonts -->
	<!-- Using [INSTALLDIR] instead of [#file_id] below because it doesn't appear to work, maybe it has something to do with the process 
		of creating the actual file from the template -->
  <Product>
	<Directory Id="TARGETDIR">
		<Directory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="Dotify Studio"/>
		</Directory>
		<Directory Id="FontsFolder"/>
	</Directory>
	<DirectoryRef Id="ApplicationProgramsFolder">
		<Component Id="shortcuts_ApplicationProgramsFolder">
			<Shortcut Id="shortcut_example_butterfly" 	Name="Embosser test - Butterfly" 	Target="[INSTALLDIR]examples\butterfly.pef"/>
			<Shortcut Id="shortcut_example_6_dot" 		Name="Embosser test - 6 dot chart" 	Target="[INSTALLDIR]examples\6-dot-chart.pef"/>
			<Shortcut Id="shortcut_example_8_dot" 		Name="Embosser test - 8 dot chart" 	Target="[INSTALLDIR]examples\8-dot-chart.pef"/>
			<Shortcut Id="shortcut_releas_notes" 		Name="Release notes" 				Target="[INSTALLDIR]docs\Changes.html"/>
			<Shortcut Id="shortcut_getting_started" 	Name="Getting started" 				Target="[INSTALLDIR]docs\README.html"/>
			<Shortcut Id="shortcut_known_issues" 		Name="Known issues" 				Target="[INSTALLDIR]docs\Issues.html"/>
			<Shortcut Id="shortcut_user_guide" 			Name="User Guide" 				Target="[INSTALLDIR]docs\UserGuide.html"/>
		</Component>
	</DirectoryRef>
	<DirectoryRef Id="FontsFolder">
		<Component Id="InstallFonts">
			<!-- This path is relative to the generated wxs file under build/tmp/msi -->
			<File Id="odt2braille6.ttf" Source="..\..\..\ant-build\resources\odt2braille6.ttf" TrueType="yes" />
		</Component>
	</DirectoryRef>
	<DirectoryRef Id="INSTALLDIR">
		<Component Id="RegistryEntries">
			<RegistryKey Root="HKCR" Key=".pef">
				<RegistryValue Type="string" Value="dotify-studio.PortableEmbosserFormat"/>
			</RegistryKey>
			<RegistryKey Root="HKCR" Key="dotify-studio.PortableEmbosserFormat">
				<RegistryValue Type="string" Value="Portable Embosser Format"/>
			</RegistryKey>
			<RegistryKey Root="HKCR" Key="dotify-studio.PortableEmbosserFormat\DefaultIcon">
				<RegistryValue Type="string" Value="[INSTALLDIR]favicon.ico,0"/>
			</RegistryKey>
			<RegistryKey Root="HKCR" Key="dotify-studio.PortableEmbosserFormat\shell\open\command">
				<RegistryValue Type="string" Value="&quot;[INSTALLDIR]dotify-studio.exe&quot; -open &quot;%1&quot;"/>
			</RegistryKey>
		</Component>
	</DirectoryRef>
  	<Feature Id="MainApplication">
  		<ComponentRef Id="RegistryEntries"/>
  		<ComponentRef Id="shortcuts_ApplicationProgramsFolder"/>
  		<ComponentRef Id="InstallFonts"/>
  	</Feature>
  </Product>
</Wix>
